<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yapp.dev_diary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Lock.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_img"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Setting.SetActivity" />
        <activity android:name=".Setting.LockActivity" />
        <activity android:name=".Setting.AlarmActivity" />
        <activity android:name=".Voice.VoiceActivity" />
        <activity android:name=".SaveActivity" />
        <activity android:name=".Detail.AdjustActivity" />
        <activity android:name=".Detail.DetailActivity" />
        <activity android:name=".List.ListDActivity" />
        <activity android:name=".List.SearchActivity" />
        <activity android:name=".Calendar.Activity.MultiCalendarActivity" />
        <activity
            android:name=".Lock.core.AppLockActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Mark.MarkActivity" />

        <receiver android:name=".Setting.BroadcastD" />
        <receiver
            android:name=".Setting.AlramReceiver"
            android:enabled="true"
            android:process=".remote"
            />
        <receiver
            android:name=".Setting.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>