<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yapp.dev_diary">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:name=".Lock.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".Setting.SetActivity"></activity>
        <activity android:name=".Setting.LockActivity"></activity>
        <activity android:name=".Setting.AlarmActivity"></activity>
        <activity android:name=".Voice.VoiceActivity"></activity>
        <activity android:name=".SaveActivity"></activity>
        <activity android:name=".Detail.AdjustActivity"/>
        <activity android:name=".Detail.DetailActivity"></activity>
        <activity android:name=".List.ListDActivity"></activity>
        <activity android:name=".Calendar.Activity.MultiCalendarActivity"></activity>
        <activity android:name=".Lock.core.AppLockActivity"
                  android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name=".Setting.Pactivity"></activity>
        <receiver android:name=".Setting.BroadcastD"></receiver>
    </application>
</manifest>